.hamburguer-img{
    width :40px
}
.usuario-img{
    width: 40px;
}
.carrinho-img{
    width: 40px;
}
.Boneco-img{
    width: 40px;
}
.localizacao-img{
    width: 40px;
}
.cartao-img{
    width: 40px;
}
.coracao-img{
    width: 40px;
}
.ajuda-img{
    width: 40px;
}
.sair-img{
    width: 40px;
}



.google-img{
    height: 40px;
}

.certo{
    width: 40px;
}

.carrinho1{
    width: 40px;
}

.hamburguer2{
    width: 40px;
}

.ftUsuario-img{
    width: 40px;
}

.hamburguer1-img{
    width: 40px;
}