.flex {
    display: flex;
}
.colum {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}