<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tela de login</title>

    <link rel="stylesheet" href="/public/css/img.css">
    <link rel="stylesheet" href="/public/css/resset.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/size.css">
    <link rel="stylesheet" href="/public/css/position.css">
    <link rel="stylesheet" href="/public/css/spaces.css">
    <link rel="stylesheet" href="/public/css/magin.css">

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;900&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="logo width-full center flex">
        <h1> ESPORT CENTER</h1>
    </div>
    <div class="container-menu flex width-100 margin-top-1">
        <div class="login colum padding ">
            <legend> <h3>Já sou cliente: </h3> </legend>
            <fieldset class="flex">
                <label for="nome"> Login: </label>
                <input id="nome" type="text">
            </fieldset>
            <fieldset>
                <label for="telefone"> Senha: </label>
                <input id="telefone" type="password">
            </fieldset>
            
            <div class="flex">
                <input type="checkbox" class="flex"id="remember">
                <label for="scales">Relembre-me </label>
            </div>
            
            <button class="button_login">Acesar conta</button>
            <a href="#" class="forget"> Esqueceu a Senha?</a>

            <div class="login_gmail colum center ">
            <img class="google-img" src="/public/img/Google.png" alt="Google">
            <a href="#">Conectar pelo g-mail</a>
            </div>
        </div>

        <div class="singup colum">
            <legend> <h3>Criar conta: </h3> </legend>
            <fieldset class="flex">
                <label for="nome"> Nome: </label>
                <input id="nome" type="text">
            </fieldset>     
            <fieldset>
                <label for="telefone"> Telefone: </label>
                <input id="telefone" type="text">
            </fieldset>
            <fieldset>
                <label for="email"> E-mail: </label>
                <input id="email" type="text">
            </fieldset>
            <fieldset>    
                <label for="mensagem"> Senha: </label>
                <input id="mensagem" type="password">
            </fieldset>

            <button class="button_login">Criar conta</button>            
        
        </div>
    </div>
</body>
</html>
